# Ignorar base de datos MySQL (volumen)
mysql/
mysql/*
glpi/config
glpi/files

# Ignorar archivos que rompen GLPI
glpi/config
glpi/files

# Docker stuff
*.pid
*.sock
*.err
*.log

# Windows basura
Thumbs.db
